@charset "utf-8";

body {
    position: relative;
}

/* =============header=============== */
header {
    margin-top: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.menu-logo-login  > .flex-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 5%;
}

.right-menu {
    position: absolute;
    left: 0; top:-20px;
    width: 528px;
    height: 1080px;
    background-color: #ffffffb9;
}

.gnb > li > ul {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 50px;
    height: 3px;
    background-color: black;
    border: 2px;
    margin-bottom: 10px;
}

.right-menu h1 > img {
    width: 60px;
}

.login-menu {
    width: 300px;
    display: flex;
}

.bar {
    border: 1px solid black;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
    height: 1080px;
}

.title {
    background-color: blanchedalmond;
}
